table {
		max-width:1000px;
		border:3px black;
		border-style: solid;
		
}
tr, th {
	background-color:Tomato;
}
tr, td {
	color:LightGray;
	background-color:SlateBlue;
}

td:hover {
	color:Orange;
	background-color:MediumSeaGreen;
}